# Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in

In [ ]:
def even_sum(numbers):
    sum = 0
    for n in numbers:
        if n%2 == 0:
            sum = sum+n
    return sum
even_sum([1, 2, 12, 14, 16, 13, 17, 18, 11, 10])

72

# **Q2. Create a Python function that accepts a string and returns the reverse of that string.**

In [ ]:
txt = "Bijay Barman"[::-1]
print(txt)

namraB yajiB

# **Q3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.**

In [ ]:
def my_list(numbers: list) -> list:
    return [num ** 2 for num in numbers]

print(my_list([1, 11, 2, 22, 3, 33, 4, 44, 5, 55]))

[1, 121, 4, 484, 9, 1089, 16, 1936, 25, 3025]

# **Q4. Write a Python function that checks if a given number is prime or not from 1 to 200.**

In [ ]:
def is_prime(n):
    if n < 2 or n > 200:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(n ** 0.5) + 1, 2):
        if n % i == 0:
            return False
    return True
for num in range(1, 201):
    print(f"{num} is prime: {is_prime(num)}")

1 is prime: False
2 is prime: True
3 is prime: True
4 is prime: False
5 is prime: True
6 is prime: False
7 is prime: True
8 is prime: False
9 is prime: False
10 is prime: False
11 is prime: True
12 is prime: False
13 is prime: True
14 is prime: False
15 is prime: False
16 is prime: False
17 is prime: True
18 is prime: False
19 is prime: True
20 is prime: False
21 is prime: False
22 is prime: False
23 is prime: True
24 is prime: False
25 is prime: False
26 is prime: False
27 is prime: False
28 is prime: False
29 is prime: True
30 is prime: False
31 is prime: True
32 is prime: False
33 is prime: False
34 is prime: False
35 is prime: False
36 is prime: False
37 is prime: True
38 is prime: False
39 is prime: False
40 is prime: False
41 is prime: True
42 is prime: False
43 is prime: True
44 is prime: False
45 is prime: False
46 is prime: False
47 is prime: True
48 is prime: False
49 is prime: False
50 is prime: False
51 is prime: False
52 is prime: False
53 is prime: True
54 is prime: False
55 is prime: False
56 is prime: False
57 is prime: False
58 is prime: False
59 is prime: True
60 is prime: False
61 is prime: True
62 is prime: False
63 is prime: False
64 is prime: False
65 is prime: False
66 is prime: False
67 is prime: True
68 is prime: False
69 is prime: False
70 is prime: False
71 is prime: True
72 is prime: False
73 is prime: True
74 is prime: False
75 is prime: False
76 is prime: False
77 is prime: False
78 is prime: False
79 is prime: True
80 is prime: False
81 is prime: False
82 is prime: False
83 is prime: True
84 is prime: False
85 is prime: False
86 is prime: False
87 is prime: False
88 is prime: False
89 is prime: True
90 is prime: False
91 is prime: False
92 is prime: False
93 is prime: False
94 is prime: False
95 is prime: False
96 is prime: False
97 is prime: True
98 is prime: False
99 is prime: False
100 is prime: False
101 is prime: True
102 is prime: False
103 is prime: True
104 is prime: False
105 is prime: False
106 is prime: False
107 is prime: True
108 is prime: False
109 is prime: True
110 is prime: False
111 is prime: False
112 is prime: False
113 is prime: True
114 is prime: False
115 is prime: False
116 is prime: False
117 is prime: False
118 is prime: False
119 is prime: False
120 is prime: False
121 is prime: False
122 is prime: False
123 is prime: False
124 is prime: False
125 is prime: False
126 is prime: False
127 is prime: True
128 is prime: False
129 is prime: False
130 is prime: False
131 is prime: True
132 is prime: False
133 is prime: False
134 is prime: False
135 is prime: False
136 is prime: False
137 is prime: True
138 is prime: False
139 is prime: True
140 is prime: False
141 is prime: False
142 is prime: False
143 is prime: False
144 is prime: False
145 is prime: False
146 is prime: False
147 is prime: False
148 is prime: False
149 is prime: True
150 is prime: False
151 is prime: True
152 is prime: False
153 is prime: False
154 is prime: False
155 is prime: False
156 is prime: False
157 is prime: True
158 is prime: False
159 is prime: False
160 is prime: False
161 is prime: False
162 is prime: False
163 is prime: True
164 is prime: False
165 is prime: False
166 is prime: False
167 is prime: True
168 is prime: False
169 is prime: False
170 is prime: False
171 is prime: False
172 is prime: False
173 is prime: True
174 is prime: False
175 is prime: False
176 is prime: False
177 is prime: False
178 is prime: False
179 is prime: True
180 is prime: False
181 is prime: True
182 is prime: False
183 is prime: False
184 is prime: False
185 is prime: False
186 is prime: False
187 is prime: False
188 is prime: False
189 is prime: False
190 is prime: False
191 is prime: True
192 is prime: False
193 is prime: True
194 is prime: False
195 is prime: False
196 is prime: False
197 is prime: True
198 is prime: False
199 is prime: True
200 is prime: False

# **Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.**

In [ ]:
num = int(input("Enter a number  :"))
def fibonacci(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci(num-1) + fibonacci(num-2)

for i in range(num):
    print(fibonacci(i),end =" ")

Enter a number  :20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

# **Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.**

In [ ]:
def powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i
for power in powers_of_2(15):
    print(power)

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192
16384
32768

# **Q7. Implement a generator function that reads a file line by line and yields each line as a string.**

In [ ]:
L = ["Narendra\n", "Damodar\n", "Modi\n"]
file1 = open('myfile.txt', 'w')
file1.writelines(L)
file1.close()
file1 = open('myfile.txt', 'r')
Lines = file1.readlines()

count = 0

for line in Lines:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Narendra
Line2: Damodar
Line3: Modi

# **Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.**

In [ ]:
d = [(1, 5), (3, 2), (2, 8), (4, 1)]
n = 1
main = sorted(d, key=lambda x: x[n])

print(main)

[(4, 1), (3, 2), (1, 5), (2, 8)]

# **Q9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.**

In [ ]:
celsius = 37
fahrenheit = (celsius * 9/5) + 32
print(f"Original Celsius temperature: {celsius}A'C")
print(f"Equivalent Fahrenheit temperature: {fahrenheit:2f}'F")

Original Celsius temperature: 37A'C
Equivalent Fahrenheit temperature: 98.600000'F

# **Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string.**

In [ ]:
string = "Narendra Modi"

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
result = ""

for char in string:
    if char not in vowels:
        result = result + char

print("\nAfter removing Vowels: ", result)

After removing Vowels:  nrndr md